:root {
  --bg-color: oklch(26.8% 0.007 34.298);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin-top: 70px;
  background-color: var(--bg-color);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  max-width: 100%;
  min-height: 100vh;
  line-height: 1.4;
}
